@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#main {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.game-box {
  width: 100%;
  height: 85%;
  padding: 15px;
  border-radius: 15px;
  background-image: url(./img/2.jpg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.puzzle-game {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
#puzzle-container {
  width: 100%;
  height: 92%;
  background-color: #000;
}

.user-input {
  width: 30%;
  padding: 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #3c494f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user-input .input-group {
  width: 100%;
}
.user-input .input-group input {
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 8px 15px;
  font-size: 1.2vw;
}

.user-input .input-group button {
  padding: 8px 15px;
  font-size: 1.2vw;
  border-radius: 15px;
  border: none;
  outline: none;
  background: #272f33;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}
.difficulty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.difficulty button {
  padding: 8px 20px;
  font-size: 1.2vw;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
.easy {
  background: #0f6407;
}
.medium {
  background: #97890d;
}
.hard {
  background: #640707;
}
#startBtn,
#resetBtn {
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2vw;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: #26353C;
  letter-spacing: 1.5px;
}
