@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #a3abb5;
}
#main {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#main h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.game-box {
  width: 100%;
  height: 85%;
  padding: 25px 15px;
  border-radius: 15px;
  background-image: url(./img/download.jpeg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.puzzle-game {
  width: 36%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
#puzzle-container {
  width: 100%;
  height: 100%;
  background-color: #000;
  /* box-shadow: rgba(253, 253, 253, 0.24) 0px 3px 8px; */
  border-radius: 10px;
  display: grid;
  gap: 5px;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.user-input {
  width: 25%;
  padding: 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* background: ;/ */
  backdrop-filter: blur(15px);
  box-shadow: rgba(255, 255, 255, 0.753) 0px 3px 8px;
}
.user-input .input-group {
  width: 100%;
}
.user-input .input-group input {
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 12px 15px;
  font-size: 0.9vw;
  font-family: "Press Start 2P", system-ui;
}

.user-input .input-group button {
  padding: 12px 15px;
  font-size: 0.9vw;
  border-radius: 15px;
  border: none;
  outline: none;
  background: #a3a0a0;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  font-family: "Press Start 2P", system-ui;
}
.difficulty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.difficulty button {
  padding: 8px 18px;
  font-size: 1.1vw;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#startBtn,
#resetBtn {
  width: 100%;
  padding: 10px 20px;
  font-size: 0.9vw;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: filter 0.3s ease;
  font-family: "Press Start 2P", system-ui;
}
#startBtn {
  background: #f0007c;
}
#resetBtn {
  background: #2292fb;
}
#startBtn:hover,
#resetBtn:hover,
button:hover {
  filter: brightness(0.7);
}
.difficulty button:hover {
  transform: scale(0.95);
}

.easy:hover {
  background: #4caf50;
}

.medium:hover {
  background: #ffe600;
}

.hard:hover {
  background: #f12c2c;
}
.difficulty button.active {
  transform: scale(0.97);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.difficulty button.easy.active {
  background: #4caf50;
}

.difficulty button.medium.active {
  background: #ffe600;
  color: #000;
}

.difficulty button.hard.active {
  background: #f12c2c;
}

.game-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#difficulty-level {
  text-transform: uppercase;
}

.pushed {
  opacity: 0.6;
  cursor: not-allowed !important;
  /* pointer-events: none !important; */
}
.game-container {
  width: 100%;
  height: 90%;
  position: relative;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
